
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="container"><a class="navbar-brand logo" href="#">Qeema</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/">Home</a></li>
                <li class="nav-item" role="presentation"><a class="btn btn-primary" (click)="logoutd()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>


    


<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>

